body{
	font: arial;
}

h2{
	width: 6em;
	font-size: 35px;
}

p{
	font-size: 20px;
}

#barra{
   background-color: #000;
   padding:30px;
   margin-top: 1px;
   color: #fff;
   height: 40px;
}

#barra .foto img{
	margin-top: -1%;
	margin-left: 35%;
	border-radius: 110px;
	width: 5%;
	height:auto;
	position: relative;
}

#barra h1{
	margin-top: -4.3%;
	margin-left: 42%;
}

.flexU {
	margin-left: .6%;
	position: fixed;
}

.flexU iframe{
	margin-top: 3%;
	margin-left: 3%;
	border-radius: 50%;
}

.flexU ul{
	list-style: none;
}

.flexU ul a{
	color: #fff;
	text-decoration:none;
}

.flexU ul li{
	font-size: 14px;
	letter-spacing: 3px;
	font-weight: lighter;
	background: #ff7979;
	color:#fff;
	width:200px;
	margin-top:5px;	
	text-transform: capitalize;
	padding:10px;
	border-radius: 20px;
}

.flexU ul li:hover{
	cursor:pointer;
	transition:all .5s;
	margin-left:10px;
	background: #eb4d4b;
}

.flexU ul li:hover a{
	color: #000;
}

.flexU #map{
	margin-top: 11.2%;
	margin-left: .4%;
}

.flex {
	margin-left: 20%;
	margin-right: 5%;
	display: flex;
}

.flex #dados{
	word-wrap:  normal;
	flex: 50%;
}

.flex #dados h2{
	margin-right: 30%;
}

.flex #dados p{
	font-size: 20px;
}

.flex #formatacao{
	flex: 50%;
}

.flex #formatacao  h2{
	margin-left: 25%;
}

.flex #formatacao h3{
	font-size: 20px;
}

#cursos{
	margin-left: 25%;
	margin-right: 25%;
}

#cursos h2{
	margin-left: auto;
	margin-right: auto;
}

#cursos table{
	border-width: 2px;
    border-style: solid;
    border-color: #000;
	margin-top: 15px;
	margin-left: 33px;
	width: 90%;
}

#cursos th, td{
	border-width: 2px;
    border-style: solid;
    border-color: #000;
}

.flex #prof{
	word-wrap:  normal;
	flex: 50%;
}

.flex #prof h2{
	margin-left:  15%;
}

.flex #sociais{
	flex: 50%;
}

.flex #sociais  h2{
	margin-left: 15%;
}

#sei{
	margin-left: 40%;
	word-wrap:  normal;
	flex: 50%;
}

#sei h2{
	margin-left: 8%;
}

.barraf{
   background-color: black;
   padding:10px;
   text-align:center;
   margin-top: 3%;
   color: #fff;
   height: 70px;
}

.barraf h3{
	margin-top: 1%;
}

.barraf h3 a{
	font: arial;
	color: #fff;
	text-decoration:none;	
}

.barraf p{
	font-size: 16px;
	margin-top: 1%;
	margin-left: 90%;
}

*{
	margin:0;
	padding:0;
}